@tailwind base;
@tailwind components;
@tailwind utilities;


/* ---------- SAFE GLOBAL RESET ---------- */
@layer base {
  html, body {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6,
  p, ul, ol, li {
    margin: 0;
  }
}
